<div id="about-us">
  <h2>About us</h2>
  <p> We are a web and mobile development company devoted to the creation of applications and services designed to suit our customers needs. <br/>
The multidisciplinary expertise of our team in different programming languages, interface design, communication and mathematics, allow applications in the shortest possible time, with excellent quality and personalized.<br/>
</br>
The team consist of five software engineers and one designer that have been working on web projects and developing web sites for several years.<br/>
<br/>
So far we have successfully completed projects with companies of genetics and from the fashion industry, personal portfolios, virtual events and conferences.<br/>
   </p>
</div>

<div id="contact-us">
  <h2>Contact</h2>

  <p> Have something to say? <a href='mailto:hello@zinergia.co'>Say Hello! </a> </p>

  <form method="post" action="/inq" accept-charset="UTF-8">
    
    <dl>
      <dt class="required">Name <span class="small gray">(required)</span></dt>
      <dd>
        <input type="text" value="" size="30" name="name" id="name" class="required">
      </dd>

      <dt class="required">E-mail <span class="small gray">(required)</span></dt>
      <dd>
        <input type="text" value="" size="30" name="mail" id="mail" class="required">
      </dd>

      <dt class="required">Let's Talk <span class="small gray">(required)</span></dt>
      <dd>
        <textarea cols="30" rows="10" id="body" name="body"></textarea>
      </dd>
           
      <div class="clear"> </div>
      <p> <input type="submit" value="Send" name="commit" id="send"></p>
      
  </form>
  
  
</div>


