<!DOCTYPE HTML>
<html>
  
  <head>
    <title>Zinergia.co</title>    
    <style type="text/css" media="screen">
      body {
      background-color: #f0f0f0;
      font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
      font-size: 13px;
      color: #333;
      }
      
      #site {
      width:600px; min-height:650px;
      margin:auto;
      text-align:center;
      }
      
      #about-us p {
      text-align:left;
      }
      
      .img-z {
      width: 75px; height: 60px; display: block; margin:auto;
      background: transparent url(/images/z.png) top no-repeat;
      }
      
      h1{
      font-size: 58px;
      color: #3D7F28;
      margin:0;
      }

      h2{
      color: #444;
      font-size: 28px;
      margin:0;
      margin-top:20px;
      }

      h3{
      color: #444;
      font-size: 18px;
      margin:0;
      }

      a { color: #3D7F28 }
      a:hover {
      background-color: #82AC60;
      color: white;
      text-decoration: none;
      }
    </style>
    
  </head>
  
  <body>
    <div id="site">
      
      <div id="logo">
        <div class="img-z"> </div>
        <h1> Zinergia</h1>
        <p> Awesome web ;)</p>
      </div>
      <%= yield %>
    </div>
    <div id="footer">
      <a href="/twitter"> Timeline Twitter </a>
    </div>
  </body>
</html>
