
<div class="qrc-icon" style="display: block; margin:auto;background: transparent url(/images/qrc-icon.png) top no-repeat; width:106px; height:105px;"></div>
<div id="qrc-desc" style="text-align:left;">
  <p> <h2 style="text-align:center;">QR Card</h2>
    Change your boring business card for one with a QR code on you phone.<br/>    
    People can easily save your contact information on their phones only by scanning your QR Card with any
    QR code reader utility.<br/>
    <br/>
    This App creates a QR code image with a standard representation of the contact information you provide.<br/>
    Anyone with a QR code scanner can save your information.<br/>
    <br/>
    You can save the code as an image on your phone.<br/>
    You can email the code.<br/>
    The application needs Internet connection to create and download the QR Code.<br/>
    <br/>
  </p> 
</div>

<div class="qrc-phone" style="display: block; margin: 20px auto;background: transparent url(/images/qrc-phone.png) top no-repeat; width:365px; height:441px;"></div>

<a>Download this app</a>(Not yet)
