<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery.tweet.js"></script>
<link rel="stylesheet" href="/css/jquery.tweet.css" TYPE="text/css" media="screen"/>

<script type="text/javascript">
   $(function(){
      $("#fromteam").tweet({
        avatar_size: 32,
        count: 10,
        username: ["nhocki", "jfelipe38", "alejopelaezr", "sarcilav", "sergiobuj", "jcmonroy"],
        loading_text: "searching twitter...",
        refresh_interval: 10
      });
    });
</script>
<div id="fromteam" class="query"></div>
