<style type="text/css" media="screen">
  #content{
  align:left;
  flaot:left
  }
</style>
<img src="http://f.cl.ly/items/3z1Z1N2L2y0x1E1q471h/Screen%20shot%202011-04-19%20at%206.44.36%20PM.png" style="float:left"/>

<div id="content" align="justify">
<h2>Sebastian Arcila Valenzuela</h2>
<h3>Ruby enthusiastic, Nerd, Algorithms and Pizza lover :)</h3>
<p>
  I love to try new things like Bungee jumping and Hang gliding, also I like to play soccer and volleyball, watch soccer games with my friends. And when I'm not playing, I like to use my time to train me or compete on Google Code Jam, TopCoder and ICPC.       
  </p>
</div>
